.callOverlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        width: 952px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}