.header{
  background: #172027;
  padding: 30px 0;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__btn{
    padding: 11px 31px;
  }
  &__nav{
    display: flex;
    align-items: center;
  }
  &__icons{
    display: flex;
    align-items: center;
    column-gap: 15px;
  }
  &__icon{
    cursor: pointer;
  }
  &__call{
    margin: 0 12px 0 28px;
    display: flex;
    column-gap: 4px;
    justify-content: center;
    align-items: center;
    &-number{
      font-family: 'Museo Sans Cyrl 700';
      font-size: 15px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      transition: .5s;
      &:hover{
        font-size: 17px;
        text-decoration: underline;
        text-underline-offset: 5px;
        color: red;
        transition: .5s;
      }
    }
  }
}